// * Style for FooterBar.svelte

$footer-bg-color-l: lavender;
$footer-bg-color-r: #d5d5e9; // * Chino's Color
$svelte-default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;

span {
    padding: 0.5em;
    font-family: "Anakotmai", $svelte-default-font;
}

#info-msg {
    background-color: $footer-bg-color-l;
    border-radius: 0.69em;
}

#bg-section {
    background-color: $footer-bg-color-r;
    border-radius: 0.3em;
}

select {
    padding: 0.15em;
    border-radius: 0.4em;
}
